.sidebar {
    background: #f9f9f9;
    border-right: 1px solid #ddd;
    min-height: 100vh;
    padding-top: 2rem;
  }
  
  .nav-pills .nav-link.active {
    background-color: #0d6efd;
    color: white;
  }
  
  .card {
    border-radius: 0.75rem;
  }
  
  .progress {
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .table td {
    vertical-align: middle;
    height: 75px;
  }
  
  .table td.bg-success {
    background-color: #198754 !important;
  }
  
  .modal-content {
    border-radius: 0.75rem;
  }
  
